/*****************CARDS*************************/
.print-data{
    color:#ff0707;
    font-weight: bold;
}
.card {
    cursor: pointer;

    min-width: 12em;
    min-height: 10em;
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.card-product{
     cursor: pointer;
}
.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-logo:hover {
    background-color: #dc920b9e;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 2px #d4d4d5;

}

.card-logo {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    padding: 2%;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    text-align: center;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-prize {
    color: red;
    font-size: 2em;
    font-weight: 700;
}

.text-bold {
    font-weight: 700;
}

.card-footer {
    font-size: 1em;
    text-align: center;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;

}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;

}

.card-container {
    margin: 1em;
    padding: 0.5em;
    color: black;
}

.card:hover {
    opacity: 0.9;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.card-container a, .card a {
    color: black;
    text-decoration: none !important;
}

.choice-selected {
    opacity: 0.5;
    /*pointer-events: none;
    cursor: default;*/
}
.animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}


/*****************ENDCARDS*************************/


