
.questionsBox {
    display: block;
    background-color: var(--little-sandy);
    border: solid 1px #e3e3e3;
    padding: 10px 20px 0px;
    box-shadow: inset 0 0 30px rgba(000, 000, 000, 0.1), inset 0 0 4px rgba(255, 255, 255, 1);
    border-radius: 3px;
    margin: 0 10px;
}

.questions {
    background: var(--sandy-brown);
    color: #FFF;
    font-size: 22px;
    padding: 8px 30px;
    font-weight: 300;
    margin: 0 -30px 10px;
    position: relative;
}

.questions:before, .questions:after {

    display: block;
    position: absolute;
    top: 100%;
    width: 9px;
    height: 7px;
    content: '.';
    left: 0;
    text-align: left;
    font-size: 0
}

.questions:after {
    left: auto;
    right: 0;
    background-position: -10px 0
}

.answerList {
    margin-bottom: 15px;
    list-style: none;
}

.answerList li {
    padding: 3px 0;
}

.answerList li:first-child {
    border-top-width: 0
}

.answerList label {
    display: block;
    padding: 6px;
    border-radius: 6px;
    border: solid 1px #dde7e8;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    font-family: Arial, sans-serif
}

.answerList li:hover label {
    background-color: var(--sandy-brown-light);
}

.answerList li.selected label {
    border-color: #b2d9ee;
    background: #dcedf6;
}


.wrong-answer {
    background-color: #ff2c2c;
    border-color: #fae1e1;
}
.wrong-answer-box{
    background-color: #ff0000a6!important;
}

.correct-answer{
    background-color: #8bc34a;
    border-color: #e2f8cf;
}


.add-test{
    display: none;
}
