{% extends "quizz_app/base.html" %}
{% load staticfiles %}
{% block head_css_page %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/coffee.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/questions.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}
{% block title %}HOME{% endblock title %}
{% block content %}
    {% if warning %}
        <div class="jumbotron text-center">
            <div class="alert alert-warning" role="alert">
                {{ warning }}
            </div>
        </div>
    {% endif %}
    <div class="quiz-container">
        <div class="row">
            <div class=" col-12 col-offset-3 mt-3" style="text-align:center;">
                <button class=" end btn-warning btn " onclick="show_add_quiz()">ADD QUIZ</button>
                <button class=" end btn-warning btn " onclick="show_add_quiz()">CREATE QUIZ</button>
                <div class="add-quiz">
                    <div class="container-fluid bg-grey text-center" id="divImportar">
                        <div class="row">
                            <div class="container registration-container">
                                <h2>IMPORT QUIZ:</h2>
                                <hr/>
                                <span>The file must be CSV. Correct answer is 1 and wrong is 0. It must follow this structure:</span>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Category</td>
                                        <td>Quiz name</td>
                                        <td>Quiz description(OPTIONAL)</td>
                                        <td>Randomizable(1 yes, 0 no. IF empty it won't be random) </td>
                                         <td> </td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td>Question</td>
                                        <td>answer_1</td>
                                        <td>is_answer_1_correct</td>
                                        <td>answer_2</td>
                                        <td>is_answer_2_correct</td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td>Question2</td>
                                        <td>answer_1</td>
                                        <td>is_answer_1_correct</td>
                                        <td>answer_2</td>
                                        <td>is_answer_2_correct</td>
                                        <td>answer_3</td>
                                        <td>is_answer_3_correct</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <form method="post" name="import_Form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in import_form %}
                                        <div class="form-group">
                                            <label class="control-label"
                                                   for="id_{{ field.name }}">{{ field.label }}</label>
                                            <br>
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                            {{ field }}
                                            {% if field.help_text %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                    <input type="submit" class="btn btn-primary" value="IMPORT QUIZ"
                                           name="importquiz"></input>
                                </form>
                            </div>
                        </div><!-- row -->
                    </div><!-- container-->
                </div>
            </div>
        </div>
    </div>
    <script>
        function show_add_quiz() {
            $('.add-quiz').toggle();
        }
    </script>
    <script>
        $(document).ready(function () {
            let quiz_json = {{ available_quizs|safe}};
            let html_category_2 = " </div>\
                </a>\
            </div>\
            </div>";
            for (category in quiz_json) {
                let html_category_1 = "<div class='card-container row'>\<" +
                    "div class='card col-12 col-md-4 col-lg-3 mt-4 mx-1 col-md-offset-1' id='" + category + "' style='background-color:var(--sandy-brown);'>\
                                    <a  >\
                                            <div class='card-block' >";
                let title = "<h4 class='card-title >" + category + "</h4>";
                let desc = "<p class='card-text'>" + category + "</p>";
                $(".quiz-container").append(html_category_1 + title + desc + html_category_2)
                for (quiz in quiz_json[category]) {
                    let quiz_name = quiz_json[category][quiz]['quiz_name']
                    let quiz_des = quiz_json[category][quiz]['quiz_description']
                    let titleT = "<h4 class='card-title '>" + quiz_name + "</h4>";
                    let descT = "<p class='card-text'>" + quiz_des + "</p>";
                    let quiz_id = quiz_json[category][quiz]['id']
                    let sel = ""
                    let quiz_url = "{% url 'quizz_app:quiz_selection' 0 %}";
                    quiz_url = quiz_url.replace('0', quiz_id)

                    if (quiz_json[category][quiz]['quiz_tries'] > 0) {
                        sel = "choice-selected"
                    }
                    let html_quiz_1 = "<div class='card col-12 col-md-4 col-lg-3 mt-4 mx-1 col-md-offset-1 animate-left " + category + " " + sel + "' style='background-color:#E9C46A;display:none' id='quiz_" + quiz_json[category][quiz]['id'] + "' >\
                                    <a href='" + quiz_url + "'>\
                                            <div class='card-block' >";
                    let html_quiz_2 = " </div>\
                            </a>\
                        </div>";
                    let full_quiz = html_quiz_1 + titleT + descT + html_quiz_2;
                    $("#" + category).after(full_quiz)
                }
            }
            $(".card").click(function () {
                let bloque = $(this).attr('id')
                $("." + bloque).toggle();
            });
        });
    </script>
    {% block footer_javascript_page %}
    {% endblock footer_javascript_page %}
{% endblock %}